body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
   
}

header {
    background-color: #0F172BE5;
    color: white;
    padding: 15px;
    /* display: flex */
;
    /* align-items: center; */
    text-align: center;
    background-image: url("./asset/hero.png");
    position: relative;
    width: 100%;
    /* height: 400px; */
    height: auto;
   
}
/* header ::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 23, 43, 0.1);
} */
nav{
    display: flex;
    padding-inline: 80px;
        align-items: center;
        justify-content: space-between;
}
.namelogo{
    display: flex
;
    align-items: center;
}
h1{color: #FEA116; position: relative; }
h3{
    font-family: Poppins;
font-weight: 800;
font-size: 62px;
line-height: 100%;
vertical-align: middle;

}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    vertical-align: middle;
    }
.hero-image2{width: 100%;}
.centre-content{display: flex;
        padding-inline: 80px;
        align-items: center;}
.frame-1{}
.frame-2{}
button{
    color: #fff;
    background-color: #FEA116;
    width: 152;
height: 40;
top: 26px;
left: 1258px;
border-color: #FEA116   ;
border-radius: 2px;
padding-top: 8px;
padding-right: 24px;
padding-bottom: 8px;
padding-left: 24px;
gap: 10px;
cursor: pointer;

}
.home-link .contact-link{
    width: 74;
height: 48;
top: 22px;
left: 1154px;
font-weight: 500;
font-size: 15px;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #fff;

}
.home-link{
color:#FEA116 ;
}
